body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    color: #333333;
    }
    
    header {
    background-color: #2C3E50;
    border-bottom: 2px solid #3498DB;
    }
    
    nav a {
    color: #FFFFFF;
    }
    
    nav a:hover {
    color: #3498DB;
    }
    
    h1 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    }
    
    p {
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    }
    
    .project {
    background-color: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    }
    
    input,
    textarea {
    border-bottom: 2px solid #3498DB;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    }
    
    input[type="submit"] {
    background-color: #3498DB;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    }
    
    input[type="submit"]:hover {
    background-color: #2980B9;
    }
    
    .alert-success{
    background-color: #4CAF50;
    border-left: 3px solid #333333;
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: 30px;
    }
    
    .alert-error{
    background-color: #333333;
    border-left: 3px solid #E74C3C;
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: 30px;
    }
    
    footer {
    background-color: #2C3E50;
    color: #FFFFFF;
    border-top: 2px solid #3498DB;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    }