body {
    font-family: 'Cormorant Garamond', serif;
    background-color: #E6DACD;
    color: #6B4E42;
  }
  
  header {
    background-color: #D9C5B9;
    border-bottom: 2px solid #A6774B;
  }
  
  nav a {
    color: #6B4E42;
  }
  
  nav a:hover {
    color: #A6774B;
  }
  
  h1 {
    color: #6B4E42;
    font-family: 'Cormorant Garamond', serif;
  }
  
  p {
    color: #8C715E;
  }
  
  .post {
    background-color: #D9C5B9;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  input,
  textarea {
    border-bottom: 2px solid #A6774B;
    font-family: 'Cormorant Garamond', serif;
    color: #6B4E42;
  }
  
  input[type="submit"] {
    background-color: #A6774B;
    color: #FFFFFF;
    font-family: 'Cormorant Garamond', serif;
  }
  
  input[type="submit"]:hover {
    background-color: #6B4E42;
  }
  
  .alert-success{
    background-color: #A6774B;
    border-left: 3px solid #6B4E42;
    color: #FFFFFF;
  }
  
  .alert-error{
    background-color: #6B4E42;
    border-left: 3px solid #A6774B;
    color: #FFFFFF;
  }
  
  footer {
    background-color: #D9C5B9;
    color: #8C715E;
    border-top: 2px solid #A6774B;
  }
  