body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
    color: #333333;
  }
  
  header {
    background-color: #F8F8F8;
    border-bottom: 2px solid #8FC1E3;
  }
  
  nav a {
    color: #333333;
  }
  
  nav a:hover {
    color: #8FC1E3;
  }
  
  h1 {
    color: #333333;
  }
  
  p {
    color: #666666;
  }
  
  .post {
    background-color: #F8F8F8;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  input,
  textarea {
    border-bottom: 2px solid #8FC1E3;
    font-family: 'Poppins', sans-serif;
    color: #333333;
  }
  
  input[type="submit"] {
    background-color: #8FC1E3;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
  }
  
  input[type="submit"]:hover {
    background-color: #6F9DBF;
  }
  
  .alert-success {
    background-color: #8FC1E3;
    border-left: 3px solid #333333;
    color: #FFFFFF;
  }
  
  .alert-error {
    background-color: #333333;
    border-left: 3px solid #8FC1E3;
    color: #FFFFFF;
  }
  
  footer {
    background-color: #F8F8F8;
    color: #666666;
    border-top: 2px solid #8FC1E3;
  }