body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F2F2;
    color: #333333;
    }
    
    header {
    background-color: #2D3142;
    border-bottom: 2px solid #EF8354;
    }
    
    nav a {
    color: #FFFFFF;
    }
    
    nav a:hover {
    color: #EF8354;
    }
    
    h1 {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    }
    
    p {
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    }
    
    .post {
    background-color: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    input,
    textarea {
    border-bottom: 2px solid #EF8354;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    }
    
    input[type="submit"] {
    background-color: #EF8354;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    }
    
    input[type="submit"]:hover {
    background-color: #DB5A42;
    }
    
    .alert-success{
    background-color: #4CAF50;
    border-left: 3px solid #333333;
    color: #FFFFFF;
    }
    
    .alert-error{
    background-color: #333333;
    border-left: 3px solid #EF8354;
    color: #FFFFFF;
    }
    
    footer {
    background-color: #FFFFFF;
    color: #666666;
    border-top: 2px solid #EF8354;
    font-family: 'Open Sans', sans-serif;
    }