*{
  position: relative; z-index: 100;
}

html {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F2F2F2;
  color: #333333;
  height: 100%;
  margin: 0;
}

header {
  background-color: #F8F8F8;
  padding: 20px;
  border-bottom: 2px solid #8FC1E3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* shared Content Styles */
main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px;
}

h1 {
  font-size: 36px;
  color: #333333;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #666666;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  color: #333333;
}

.post {
  margin: 15px;
  padding: 15px;
  background-color: #F8F8F8;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.left-column {
  flex-basis: 50%;
}

.right-column {
  flex-basis: 40%;
}

div.right-column img {
  max-width: 100%;
  height: auto;
  border-radius: 0%;
  padding-bottom: 10px;
}

/*introPage*/
main.introPage img {
  max-width: 200px;
  border-radius: 50%;
  margin-right: 40px;
  float: left;

}

.myIntro {
  margin: 15px;
  padding: 15px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

div.socialLinks img{
  display: flex;
  float: right;
  width: 30px;
  height: 30px;
}

/* background */
#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

/*Footer Style*/
.footer {
  background-color: #F8F8F8;
  height: 100px;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 14px;
  color: #666666;
  border-top: 2px solid #8FC1E3;
  padding-top: 20px;
  padding-bottom: 0px;
}

/*Nav Bar Style*/

nav {

  height: 30px;

}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

nav li {
  margin-left: 20px;
}

nav button {
  border: none;
  background: none;
  padding: 5px 10px;
  font-size: 15px;
  margin: 5px;
  color: #333333;
  font-weight: bold;
  transition: 0.8;
  cursor: pointer;
  width: 100%;
  max-width: 290px;
  box-sizing: border-box;
}

nav button:hover{
  border-bottom: 3px solid #8FC1E3;
  color: #7da8c5;
}

nav button::before{
background: #8FC1E3;
z-index: -1;
transition: 0.8s;
}