/* Navigation Styles */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #FFFFFF;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

nav a:hover {
  color: #00B7C2;
}

nav li {
  margin-left: 20px;
}

nav li:not(:last-child) {
  margin-right: 20px;
}

/* shared Content Styles */
main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px;
}

h1 {
  font-size: 36px;
  color: #333333;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #555555;
  margin-bottom: 10px;
}

.posts {
  margin: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.left-column {
  flex-basis: 50%;
}

.right-column {
  flex-basis: 40%;
}

div.posts img {
  max-width: 100%;
  height: auto;
  border-radius: 0%;
  margin: 10px;
}

/*introPage*/
main.introPage img {
  max-width: 200px;
  border-radius: 50%;
  margin-right: 40px;
  float: left;
}

div.socialLinks img{
  display: flex;
  float: right;
  width: 30px;
  height: 30px;
}














/*Footer Style*/
footer {
  background-color: #FFFFFF;
  padding: 20px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 14px;
  color: #555555;
}