* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }
  
  .wrapper {
    width: 100%;
  }

  .Left{
    float: left;
    width: 33%;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    height: 100%;
  }

  .Center{
    float: left;
    width: 33%;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    height: 100%;
  }

  .Right{
    float: left;
    width: 33%;
    border-style: solid;
    border-width: 2px;
    border-color: greenyellow;
    height: 100%;
  }