* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }
  
  .wrapper {
    width: 100%;
  }

  .Left{
    float: left;
    width: 33%;
    border-color: red;
  }

  .Center{
    float: left;
    width: 33%;
    border-color: blue;
  }

  .Right{
    float: left;
    width: 33%;
    border-color: greenyellow;
  }